.word-header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100px;
}
.word-header__header {
	font-size: 65px;
	height: 100%;
}
.word-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	height: 268px;
	width: 380px;
	box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.12);
	background-color: white;
	margin: 12px;
	padding: 22px 12px;
	span {
		font-size: 30px;
	}
	.examples-list {
		display: flex;
		flex-direction: column;
		margin-top: 24px;
		font-style: italic;
		span {
			font-size: 14px;
		}
	}
	.credits {
		position:absolute;
		margin-top: 4px;
    bottom: 4px;
		right: 4px;
		span {
			margin-right: 2px;
		}
		span, a {
			font-size: 11px;
		}
	}
}