.search-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	width: 480px;
}
.search__input {
	width: 100%;
	height: 50px;
	border: 1px solid #d0d0d0;
	border-right: none;
	line-height: 22px;
	font-size: 22px;
	text-align: left;
	padding: 0 7px;
	outline: none;
}
.search__icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 42px;
	border: 1px solid #d0d0d0;
	border-left: none;
	background-color: #ffffff;
	outline: none;
}
.search__icon-icon {
	font-size: xx-large;
	color: #e20f21;
	vertical-align: middle;
}
@media only screen and (max-width: 425px) {
  .search-wrapper {
    width: 90%;
  }
}