html,body {
	background: #f7f7f7;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}
input {
	-webkit-appearance: none;
}
.app {
	height: 100%;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
	color: inherit;
	outline: inherit;
}
.body-top-highlight {
	border-top: 5px solid #e20f21;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.navigation-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-top: 12px;
	.title {
		text-align: center;
		h4 {
			font-style: italic;
		}
	}
}
.icon {
	display: flex;
	justify-content: center;
	max-height: 160px;
}
.content-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 24px auto;
}
.search-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	width: 90%;
}
.search__input {
	width: 100%;
	height: 50px;
	border: 1px solid #d0d0d0;
	border-right: none;
	line-height: 22px;
	font-size: 22px;
	text-align: left;
	padding: 0 7px;
	outline: none;
}
.search__icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 42px;
	border: 1px solid #d0d0d0;
	border-left: none;
	background-color: #ffffff;
	outline: none;
}
.search__icon-icon {
	font-size: xx-large;
	color: #e20f21;
	vertical-align: middle;
}
.word-header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100px;
}
.word-header__header {
	font-size: 65px;
	height: 100%;
}
.wod-view-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	height: 268px;
	width: 380px;
	box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.12);
	background-color: white;
	margin: 12px;
	padding: 24px;
	span {
		font-size: 30px;
	}
	.examples-list {
		display: flex;
		flex-direction: column;
		margin-top: 24px;
		font-style: italic;
		span {
			font-size: 14px;
		}
	}
	.credits {
		position:absolute;
		margin-top: 4px;
    bottom: 4px;
		right: 4px;
		span {
			margin-right: 2px;
		}
		span, a {
			font-size: 11px;
		}
	}
}
.wod-link {
	&:hover {
		color: #e20f21;
	}
}
.underline {
	display: block;
	border-bottom: 1px solid #e20f21;
	height: 1px;
	margin-right: auto;
	margin-left: auto;
	width: 80px;
	margin-bottom: 12px;
}
.highlight {
	background-color: #ffd54f;
	padding: 0;
}
.example-highlight {
	background-color: inherit;
	font-weight: bold;
	padding: 0;
}
.counter {
	text-align: right;
}
.info {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	height: 100%;
	padding: 12px;
	font-size: 12px;
}