html,body {
	background: #f7f7f7;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}
.app {
	height: 100%;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
	color: inherit;
	outline: inherit;
}
.body-top-highlight {
	border-top: 5px solid #e20f21;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.navigation-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-top: 12px;
	.title {
		text-align: center;
		h5 {
			font-style: italic;
		}
	}
}
.icon {
	display: flex;
	justify-content: center;
	max-height: 160px;
}
.content-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 24px auto;
}
.underline {
	display: block;
	border-bottom: 1px solid #e20f21;
	height: 1px;
	margin-right: auto;
	margin-left: auto;
	width: 80px;
	margin-bottom: 12px;
}
.highlight {
	background-color: #ffd54f;
	padding: 0;
}
.info {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	height: 100%;
	padding: 12px;
	font-size: 12px;
	a {
		margin-bottom: 6px;
	}
}
.result-stats {
	font-size: 14px;
	color: #70757a;
}
.github-buttons-wrapper {
	display: flex;
	span {
		margin-left: 6px;
	}
}